{{define "body"}}
<h1>Admin</h1>
<h3>System</h3>
<div id="disk-usage"></div>
<div>Uptime: {{.Uptime}}</div>
<br />

<details>
    <summary>Power Control</summary>
    <div class="column-container">
        <div style="text-align: center;">
            <button onclick="systemCall('reboot')">Reboot</button>
        </div>
        <div style="text-align: center;">
            <button onclick="systemCall('poweroff')">Poweroff</button>
        </div>
    </div>
</details>

<h3>Users</h3>
<button onclick="document.getElementById('create-user-dialog').showModal()">
    Create New User
</button>
<br />
<br />
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Disk Usage</th>
            <th>Is Admin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .UserListItems}}
        <tr>
            <td>{{.Username}}</td>
            <td
                class="user-disk-usage"
                data-username="{{.Username}}"
            ></td>
            <td>
                <select onchange="toggleAdmin(this, '{{.Username}}')">
                    {{if .IsAdmin}}
                    <option
                        value="yes"
                        selected
                    >Yes</option>
                    <option value="no">No</option>
                    {{else}}
                    <option value="yes">Yes</option>
                    <option
                        value="no"
                        selected
                    >No</option>
                    {{end}}
                </select>
            </td>
            <td>
                <button onclick="window.location.href='/user/{{.Username}}'">
                    Manage User
                </button>
            </td>
            <td>
                {{if ne $.Username .Username}}
                <button onclick="impersonateUser('{{.Username}}')">
                    Impersonate User
                </button>
                {{else}}
                (current user)
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<br />
<dialog id="create-user-dialog">
    <span
        class="close-button"
        onclick="document.getElementById('create-user-dialog').close()"
    >
        <img
            src="/static/icons/close.svg"
            alt="Close Icon"
            width="16"
            height="16"
        >
    </span>
    <h3>Create New User</h3>
    <form id="create-user-form">
        <label for="createUsername">Username:</label>
        <input
            type="text"
            id="createUsername"
            name="username"
            maxlength="32"
            placeholder="Enter Username"
            required="required"
            autocomplete="off"
        />
        <br />
        <br />
        <input
            type="submit"
            value="Create User"
        />
    </form>
</dialog>
<script src="/static/js/admin.js"></script>
{{end}}