{{define "body"}}
<dialog id="create-directory-dialog">
    <span
        class="close-button"
        onclick="document.getElementById('create-directory-dialog').close()"
    >&times;</span>
    <h3>Create Directory</h3>
    <form id="create-directory-form">
        <input
            type="text"
            name="relHomePath"
            value="{{.Path}}"
            hidden
        >
        <label for="createDirectory">Directory:</label>
        <input
            type="text"
            id="createDirectory"
            name="dirName"
            maxlength="255"
            placeholder="Enter Directory Name"
            required="required"
            autocomplete="off"
        />
        <br />
        <br />
        <input
            type="submit"
            value="Create Directory"
        />
    </form>
</dialog>

<div class="column-container">
    <div style="text-align: left;">
        {{range .FilePathBreadcrumbs}}
        {{if not .IsHome}}
        <span>/</span>
        {{end}}
        <span
            {{if ne .Path $.Path}}
            data-path="{{.Path}}"
            ondragover="handleBreadcrumbDragOver(event)"
            ondragleave="handleBreadcrumbDragLeave(event)"
            ondrop="handleBreadcrumbDrop(event)"
            {{end}}
        ><a href="/files{{.Path}}">{{.Name}}</a></span>
        {{end}}
    </div>
    <div
        id="disk-usage"
        style="text-align: right;"
    ></div>
</div>

<br />

<div class="column-container">
    <div style="text-align: left;">
        <button onclick="document.getElementById('create-directory-dialog').showModal()">
            Create Directory
        </button>
    </div>
    <div style="text-align: right;">
        <form id="upload-form">
            <input
                id="file-upload"
                type="file"
                multiple
            />
            <input
                id="directory-upload"
                type="file"
                multiple
                webkitdirectory
            />
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<br />

<div
    id="directory-entries-table-container"
    class="table-container"
    style="padding-bottom: 200px;"
    ondragover="handleTableContainerDragOver(event)"
    ondragleave="handleTableContainerDragLeave(event)"
    ondrop="handleTableContainerDrop(event)"
>
    {{$directoryEntryCount := len .DirectoryEntries}}
    {{if gt $directoryEntryCount 0}}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th>
                <th class="right-align-cell">Size</th>
                <th class="right-align-cell">Last Modified</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .DirectoryEntries}}
            <tr
                class="clickable"
                onclick="selectRow(this)"
                ondblclick="window.location.href='{{.UrlPath}}'"
                data-name="{{.Name}}"
                draggable="true"
                ondragstart="selectRow(this)"
                {{if .IsDir}}
                ondragover="handleDirRowDragOver(event)"
                ondragleave="handleDirRowDragLeave(event)"
                ondrop="handleDirRowDrop(event)"
                {{end}}
            >
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    <img
                        src="/static/icons/folder.png"
                        alt="Folder Icon"
                        width="16"
                        height="16"
                    >
                    {{else}}
                    <img
                        src="/static/icons/file.png"
                        alt="File Icon"
                        width="16"
                        height="16"
                    >
                    {{end}}
                </td>
                <td>{{.Name}}</td>
                <td>
                    {{if ne .SymLinkPath ""}}
                    <span title="{{.SymLinkPath}}">
                        <img
                            src="/static/icons/symbolic-link.png"
                            alt="Symbolic Link Icon"
                            width="16"
                            height="16"
                        >
                    </span>
                    {{end}}
                </td>
                <td class="right-align-cell">{{.HumanSize}}</td>
                <td class="right-align-cell">{{.LastModified}}</td>
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    <span
                        title="Compress Directory"
                        class="clickable"
                        onclick="compressDirectory('{{.Path}}')"
                    >&#128476;</span>
                    {{else if .IsCompressed}}
                    <span
                        title="Extract File"
                        class="clickable"
                        onclick="extractFile('{{.Path}}')"
                    >&#128449;</span>
                    {{end}}
                </td>
                <td class="single-icon-cell">
                    {{if not .IsDir}}
                    <span
                        title="Download File"
                        class="clickable"
                        onclick="downloadFile('{{.Path}}')"
                    >&#8681;</span>
                    {{end}}
                </td>
                <td class="single-icon-cell">
                    <span
                        title="Move to Trash"
                        class="clickable"
                        onclick="moveToTrash('{{.Path}}')"
                    >&#128465;</span>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
</div>
<script>
    const pagePath = "{{.Path}}";
    const pageRootPath = "{{.RootPath}}";
</script>
<script src="/static/js/files.js"></script>
{{end}}