{{define "body"}}
<style>
    .single-icon-cell {
        text-align: center;
        width: 2em;
    }
</style>

<div style="display: grid; grid-auto-flow: column">
    <div style="text-align: left;">
        {{range .FilePathBreadcrumbs}}
        {{if not .IsHome}}
        <span>/</span>
        {{end}}
        <span><a href="/files{{.Path}}">{{.Name}}</a></span>
        {{end}}
    </div>
    <div style="text-align: right;">Disk Usage: {{.DiskUsage}}</div>
</div>

<br />

<div style="float: right;">
    <form id="upload-form">
        <input
            id="file-upload"
            type="file"
            multiple
        />
        <input
            id="directory-upload"
            type="file"
            multiple
            webkitdirectory
        />
        <button type="submit">Upload</button>
    </form>
</div>

<br />

{{$directoryEntryCount := len .DirectoryEntries}}
{{if gt $directoryEntryCount 0}}
<div
    id="directory-entries-table-container"
    class="table-container"
    style="padding-bottom: 200px;"
    ondragover="handleTableContainerDragOver(event)"
    ondragleave="handleTableContainerDragLeave(event)"
    ondrop="handleTableContainerDrop(event)"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>name</th>
                <th></th>
                <th style="text-align: right;">size</th>
                <th style="text-align: right;">last modified</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .DirectoryEntries}}
            <tr
                class="clickable"
                ondblclick="window.location.href='{{.UrlPath}}'"
                data-name="{{.Name}}"
                draggable="true"
                ondragstart="handleRowDragStart(event)"
                ondragend="handleRowDragEnd(event)"
                {{if .IsDir}}
                ondragover="handleDirRowDragOver(event)"
                ondragleave="handleDirRowDragLeave(event)"
                ondrop="handleDirRowDrop(event)"
                {{end}}
            >
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    &#128448;
                    {{else}}
                    &#128459;
                    {{end}}
                </td>
                <td>{{.Name}}</td>
                <td>
                    {{if ne .SymLinkPath ""}}
                    <span title="{{.SymLinkPath}}">&#128279;</span>
                    {{end}}
                </td>
                <td style="text-align: right;">{{.HumanSize}}</td>
                <td style="text-align: right;">{{.LastModified}}</td>
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    <span
                        title="Compress Directory"
                        class="clickable"
                        onclick="compressDirectory('{{.Path}}')"
                    >&#128476;</span>
                    {{else if .IsCompressed}}
                    <span
                        title="Extract File"
                        class="clickable"
                        onclick="extractFile('{{.Path}}')"
                    >&#128449;</span>
                    {{end}}
                </td>
                <td class="single-icon-cell">
                    {{if not .IsDir}}
                    <span
                        title="Download File"
                        class="clickable"
                        onclick="downloadFile('{{.Path}}')"
                    >&#8681;</span>
                    {{end}}
                </td>
                <td class="single-icon-cell">
                    <span
                        title="Move to Trash"
                        class="clickable"
                        onclick="moveToTrash('{{.Path}}')"
                    >&#128465;</span>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
<script>
    const draggedClassName = "highlighted-extra";
    const hoverClassName = "highlighted-normal";
    const tableContainerElement = document.getElementById("directory-entries-table-container");
    let draggedRowName = null;
    let isHoveringOverDirRow = false;

    function handleRowDragStart(event) {
        event.target.classList.add(draggedClassName);
        draggedRowName = event.target.dataset.name;
    }

    function handleRowDragEnd(event) {
        event.target.classList.remove(draggedClassName);
        draggedRowName = null;
    }

    function handleDirRowDragOver(event) {
        event.preventDefault();
        tableContainerElement.classList.remove(hoverClassName);
        const row = event.target.closest("tr");
        if (row) row.classList.add(hoverClassName);
        isHoveringOverDirRow = true;
    }

    function handleDirRowDragLeave(event) {
        event.preventDefault();
        const row = event.target.closest("tr");
        if (row) row.classList.remove(hoverClassName);
        isHoveringOverDirRow = false;
    }

    function handleDirRowDrop(event) {
        event.preventDefault();
        const droppedRowElement = event.target.closest("tr");
        if (!droppedRowElement) return;
        droppedRowElement.classList.remove(hoverClassName);
        isHoveringOverDirRow = false;

        const dirName = droppedRowElement.dataset.name;
        if (draggedRowName) {
            if (draggedRowName != dirName) {
                const source = pathJoin("{{.Path}}", draggedRowName);
                const destination = pathJoin("{{.Path}}", dirName);
                moveFiles(source, destination);
            }
        } else if (event.dataTransfer.items) {
            const relHomePath = pathJoin("{{.Path}}", dirName);
            uploadItems(relHomePath, event.dataTransfer.items);
        }
    }

    function handleTableContainerDragOver(event) {
        event.preventDefault();
        if (!draggedRowName && !isHoveringOverDirRow) {
            tableContainerElement.classList.add(hoverClassName);
        }
    }

    function handleTableContainerDragLeave(event) {
        event.preventDefault();
        if (!draggedRowName && !isHoveringOverDirRow) {
            tableContainerElement.classList.remove(hoverClassName);
        }
    }

    function handleTableContainerDrop(event) {
        event.preventDefault();
        if (!draggedRowName && !isHoveringOverDirRow) {
            tableContainerElement.classList.remove(hoverClassName);
            if (event.dataTransfer.items) {
                uploadItems("{{.Path}}", event.dataTransfer.items);
            }
        }
    }

    function uploadItems(relHomePath, items) {
        customConfirm(`Are you sure you want to upload this file/directory to ${relHomePath}?`).then(confirmed => {
            if (confirmed) {
                uploadDroppedFiles(relHomePath, items);
            }
        });
    }

    async function uploadDroppedFiles(relHomePath, items) {
        let files = [];
        for (const item of items) {
            const entry = item.webkitGetAsEntry();
            if (!entry) continue;
            files = files.concat(await traverseFileTree(entry));
        }
        upload(relHomePath, files);
    }

    function traverseFileTree(entry, path = "") {
        return new Promise((resolve, reject) => {
            if (entry.isFile) {
                entry.file((file) => {
                    file.relativePath = path + file.name;
                    resolve([file]);
                });
            } else if (entry.isDirectory) {
                const subDirReader = entry.createReader();
                subDirReader.readEntries(async (subEntries) => {
                    let files = [];
                    for (const subEntry of subEntries) {
                        files = files.concat(await traverseFileTree(subEntry, path + entry.name + "/"));
                    }
                    resolve(files);
                });
            } else {
                reject("entry not valid");
            }
        });
    }

    const formElement = document.getElementById("upload-form");

    formElement.addEventListener("submit", (event) => {
        event.preventDefault();

        const fileUploadElement = document.getElementById("file-upload");
        if (!fileUploadElement) {
            notifyError("Failed to find file upload.");
            return;
        }

        const directoryUploadElement = document.getElementById("directory-upload");
        if (!directoryUploadElement) {
            notifyError("Failed to find directory upload.");
            return;
        }

        let files = [];
        for (const file of fileUploadElement.files) {
            files.push(file);
        }
        for (const file of directoryUploadElement.files) {
            files.push(file);
        }

        upload("{{.Path}}", files);
    });

    function upload(relHomePath, files) {
        if (files.length === 0) {
            notifyError("No files available to upload.");
            return;
        }

        toggleLoading();

        let uploadCount = 0;
        let failedFiles = [];
        const uploadPromises = files.map(file => {
            const formData = new FormData();
            formData.append("relHomePath", relHomePath);
            formData.append("file", file);
            return fetch("/api/upload", { method: "POST", body: formData })
                .then((response) => {
                    if (response.ok) {
                        uploadCount += 1;
                        notifyInfo(`Uploaded ${uploadCount} out of ${files.length} files...`);
                    } else {
                        failedFiles.push(file.webkitRelativePath ?? file.name);
                    }
                });
        });

        Promise.all(uploadPromises)
            .finally(() => {
                if (failedFiles.length) {
                    failedFiles = failedFiles.sort();
                    notifyError("The following files failed to upload:\n" + failedFiles.join("\n"), true);
                    toggleLoading();
                } else {
                    location.reload(true);
                }
            });
    }

    function moveFiles(source, destination) {
        customConfirm(`Are you sure you want to move '${source}' to '${destination}'?`).then(confirmed => {
            if (confirmed) {
                toggleLoading();
                const formData = new FormData();
                formData.append("sourceRelHomePath", source);
                formData.append("destinationRelHomePath", destination);
                fetch("/api/move", { method: "POST", body: formData }).then((response) => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }


    function downloadFile(filePath) {
        const a = document.createElement("a");
        a.href = "/api/download" + filePath;
        a.download = true;
        a.click();
        a.remove();
    }

    function moveToTrash(relHomePath) {
        customConfirm("Are you sure you want to move this file/directory to the trash?").then(confirmed => {
            if (confirmed) {
                callFileApi("trash", relHomePath);
            }
        });
    }

    function pathJoin(left, right) {
        if (!left.endsWith("/")) {
            left += "/";
        }
        if (right.startsWith("/")) {
            right = right.slice(1);
        }
        return left + right;
    }
</script>
{{end}}