{{define "body"}}
<dialog id="create-directory-dialog">
    <span
        class="close-button"
        onclick="document.getElementById('create-directory-dialog').close()"
    >
        <img
            src="/static/symbols/close.svg"
            alt="Close Icon"
            width="16"
            height="16"
        >
    </span>
    <h3>Create Directory</h3>
    <form id="create-directory-form">
        <input
            type="text"
            name="relHomePath"
            value="{{.Path}}"
            hidden
        >
        <label for="createDirectory">Directory:</label>
        <input
            type="text"
            id="createDirectory"
            name="dirName"
            maxlength="255"
            placeholder="Enter Directory Name"
            required="required"
            autocomplete="off"
        />
        <br />
        <br />
        <input
            type="submit"
            value="Create Directory"
        />
    </form>
</dialog>

<div class="column-container">
    <div style="text-align: left;">
        {{range .FilePathBreadcrumbs}}
        {{if not .IsHome}}
        <span>/</span>
        {{end}}
        <span
            {{if ne .Path $.Path}}
            data-path="{{.Path}}"
            ondragover="handleBreadcrumbDragOver(event)"
            ondragleave="handleBreadcrumbDragLeave(event)"
            ondrop="handleBreadcrumbDrop(event)"
            {{end}}
        ><a href="/files{{.Path}}">{{.Name}}</a></span>
        {{end}}
    </div>
    <div
        id="disk-usage"
        style="text-align: right;"
    ></div>
</div>

<br />

<div class="column-container">
    <div style="text-align: left;">
        <button onclick="document.getElementById('create-directory-dialog').showModal()">
            <img
                src="/static/symbols/folder-new.svg"
                alt="Folder New Icon"
                width="16"
                height="16"
            >
            Create Directory
        </button>
    </div>
    <div style="text-align: right;">
        <form id="upload-form">
            <input
                id="file-upload"
                type="file"
                multiple
            />
            <input
                id="directory-upload"
                type="file"
                multiple
                webkitdirectory
            />
            <button type="submit">
                <img
                    src="/static/symbols/upload.svg"
                    alt="Upload Icon"
                    width="16"
                    height="16"
                >
                Upload
            </button>
        </form>
    </div>
</div>

<br />

<div
    id="directory-entries-table-container"
    class="table-container"
    style="padding-bottom: 200px;"
    ondragover="handleTableContainerDragOver(event)"
    ondragleave="handleTableContainerDragLeave(event)"
    ondrop="handleTableContainerDrop(event)"
>
    {{$directoryEntryCount := len .DirectoryEntries}}
    {{if gt $directoryEntryCount 0}}
    <table>
        <thead>
            <tr>
                <th
                    colspan="5"
                    style="text-align: right;"
                >
                    <button style="visibility: hidden;">
                        <img
                            width="16"
                            height="16"
                        >
                    </button>
                    <button
                        id="selected-action-compress"
                        title="Compress Directory"
                        hidden
                    >
                        <img
                            src="/static/symbols/compress.svg"
                            alt="Compress Icon"
                            width="16"
                            height="16"
                        >
                    </button>
                    <button
                        id="selected-action-extract"
                        title="Extract File"
                        hidden
                    >
                        <img
                            src="/static/symbols/extract.svg"
                            alt="Extract Icon"
                            width="16"
                            height="16"
                        >
                    </button>
                    <button
                        id="selected-action-download"
                        title="Download File"
                        hidden
                    >
                        <img
                            src="/static/symbols/download.svg"
                            alt="Download Icon"
                            width="16"
                            height="16"
                        >
                    </button>
                    <button
                        id="selected-action-trash"
                        title="Move to Trash"
                        hidden
                    >
                        <img
                            src="/static/symbols/trash.svg"
                            alt="Trash Icon"
                            width="16"
                            height="16"
                        >
                    </button>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th>
                <th class="right-align-cell">Size</th>
                <th class="right-align-cell">Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {{range .DirectoryEntries}}
            <tr
                class="clickable"
                onclick="selectRow(this)"
                ondblclick="window.location.href='{{.UrlPath}}'"
                data-name="{{.Name}}"
                data-path="{{.Path}}"
                data-is-dir="{{.IsDir}}"
                data-is-compressed="{{.IsCompressed}}"
                draggable="true"
                ondragstart="selectRow(this)"
                {{if .IsDir}}
                ondragover="handleDirRowDragOver(event)"
                ondragleave="handleDirRowDragLeave(event)"
                ondrop="handleDirRowDrop(event)"
                {{end}}
            >
                <td class="single-icon-cell">
                    <img
                        src="/static/icons/{{.IconName}}.png"
                        alt="Entry Icon"
                        width="16"
                        height="16"
                    >
                </td>
                <td>{{.Name}}</td>
                <td>
                    {{if ne .SymLinkPath ""}}
                    <span title="{{.SymLinkPath}}">
                        <img
                            src="/static/icons/symbolic-link.png"
                            alt="Symbolic Link Icon"
                            width="16"
                            height="16"
                        >
                    </span>
                    {{end}}
                </td>
                <td class="right-align-cell">{{.HumanSize}}</td>
                <td class="right-align-cell">{{.LastModified}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
</div>
<script>
    const pagePath = "{{.Path}}";
    const pageRootPath = "{{.RootPath}}";
</script>
<script src="/static/js/files.js"></script>
{{end}}