{{define "body"}}
<div class="column-container">
    <div style="text-align: left;">
        {{range .FilePathBreadcrumbs}}
        {{if not .IsHome}}
        <span>/</span>
        {{end}}
        <span><a href="/trash{{.Path}}">{{.Name}}</a></span>
        {{end}}
    </div>
    <div
        id="disk-usage"
        style="text-align: right;"
    ></div>
</div>

<br />

<div style="float: right;">
    <button onclick="emptyTrash()">
        <img
            src="/static/symbols/trash.svg"
            alt="Trash Icon"
            width="16"
            height="16"
        >
        Empty Trash
    </button>
</div>

<br />

{{$trashEntryCount := len .TrashEntries}}
{{if gt $trashEntryCount 0}}
<div
    class="table-container"
    style="padding-bottom: 200px;"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th class="right-align-cell">Size</th>
                <th class="right-align-cell">Trashed On</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .TrashEntries}}
            <tr
                class="clickable"
                onclick="selectRow(this)"
                ondblclick="window.location.href='{{.UrlPath}}'"
            >
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    <img
                        src="/static/icons/folder.png"
                        alt="Folder Icon"
                        width="16"
                        height="16"
                    >
                    {{else}}
                    <img
                        src="/static/icons/file.png"
                        alt="File Icon"
                        width="16"
                        height="16"
                    >
                    {{end}}
                </td>
                <td>{{.Name}}</td>
                <td class="right-align-cell">{{.HumanSize}}</td>
                <td class="right-align-cell">{{.TrashedOn}}</td>
                <td class="single-icon-cell">
                    <span
                        title="Restore trash directory back to files"
                        class="clickable"
                        onclick="restoreDir('{{.DirName}}', '{{.TrashedOn}}')"
                    >
                        <img
                            src="/static/symbols/restore.svg"
                            alt="Restore Icon"
                            width="16"
                            height="16"
                        >
                    </span>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
<script>
    const pageRootPath = "{{.RootPath}}";
</script>
<script src="/static/js/trash.js"></script>
{{end}}