{{define "body"}}
<div class="column-container">
    <div style="text-align: left;">
        {{range .FilePathBreadcrumbs}}
        {{if not .IsHome}}
        <span>/</span>
        {{end}}
        <span><a href="/trash{{.Path}}">{{.Name}}</a></span>
        {{end}}
    </div>
    <div style="text-align: right;">Disk Usage: {{.DiskUsage}}</div>
</div>

<br />

<div style="float: right;">
    <button onclick="emptyTrash()">
        Empty Trash
    </button>
</div>

<br />

{{$trashEntryCount := len .TrashEntries}}
{{if gt $trashEntryCount 0}}
<div
    class="table-container"
    style="padding-bottom: 200px;"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>name</th>
                <th class="right-align-cell">size</th>
                <th class="right-align-cell">trashed on</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .TrashEntries}}
            <tr
                class="clickable"
                ondblclick="window.location.href='{{.UrlPath}}'"
            >
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    &#128448;
                    {{else}}
                    &#128459;
                    {{end}}
                </td>
                <td>{{.Name}}</td>
                <td class="right-align-cell">{{.HumanSize}}</td>
                <td class="right-align-cell">{{.TrashedOn}}</td>
                <td class="single-icon-cell">
                    <span
                        title="Restore trash directory back to files"
                        class="clickable"
                        onclick="restoreDir('{{.DirName}}', '{{.TrashedOn}}')"
                    >&#9100;</span>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
<script>
    function emptyTrash() {
        customConfirm("Are you sure you want to empty the trash? This is permanent and cannot be undone.").then(confirmed => {
            if (confirmed) {
                toggleLoading();
                fetch("/api/trash", { method: "DELETE" }).then((response) => {
                    if (response.ok) {
                        location.href = "/trash";
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }

    function restoreDir(trashDirName, trashedOn) {
        customConfirm(`Are you sure you want to restore all files/directories trashed on ${trashedOn}?`).then(confirmed => {
            if (confirmed) {
                toggleLoading();
                const formData = new FormData();
                formData.append("trashDirName", trashDirName);
                fetch("/api/restore", { method: "POST", body: formData }).then((response) => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }
</script>
{{end}}