{{define "body"}}
<style>
    .single-icon-cell {
        text-align: center;
        width: 2em;
    }
</style>

<div style="display: grid; grid-auto-flow: column">
    <div style="text-align: left;">
        {{range .FilePathBreadcrumbs}}
        {{if not .IsHome}}
        <span>/</span>
        {{end}}
        <span><a href="/trash{{.Path}}">{{.Name}}</a></span>
        {{end}}
    </div>
    <div style="text-align: right;">Disk Usage: {{.DiskUsage}}</div>
</div>

<br />

<div style="float: right;">
    <button onclick="emptyTrash()">
        Empty Trash
    </button>
</div>

<br />

{{$directoryEntryCount := len .DirectoryEntries}}
{{if gt $directoryEntryCount 0}}
<div
    class="table-container"
    style="padding-bottom: 200px;"
>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>name</th>
                <th style="text-align: right;">size</th>
                <th style="text-align: right;">last modified</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .DirectoryEntries}}
            <tr
                class="clickable"
                ondblclick="window.location.href='{{.UrlPath}}'"
            >
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    &#128448;
                    {{else}}
                    &#128459;
                    {{end}}
                </td>
                <td>{{.Name}}</td>
                <td style="text-align: right;">{{.HumanSize}}</td>
                <td style="text-align: right;">{{.LastModified}}</td>
                <td class="single-icon-cell">
                    {{if .IsDir}}
                    <span
                        title="Compress Directory"
                        class="clickable"
                        onclick="compressDirectory('{{.Path}}')"
                    >&#128476;</span>
                    {{else if .IsCompressed}}
                    <span
                        title="Extract File"
                        class="clickable"
                        onclick="extractFile('{{.Path}}')"
                    >&#128449;</span>
                    {{end}}
                </td>
                <td class="single-icon-cell">
                    {{if not .IsDir}}
                    <span
                        title="Download File"
                        class="clickable"
                        onclick="downloadFile('{{.Path}}')"
                    >&#8681;</span>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
<script>
    function emptyTrash() {
        customConfirm("Are you sure you want to empty the trash? This is permanent and cannot be undone.").then(confirmed => {
            if (confirmed) {
                toggleLoading();
                fetch("/api/trash", { method: "DELETE" }).then((response) => {
                    if (response.ok) {
                        location.href = "/trash";
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }

    function compressDirectory(filePath) {
        toggleLoading();
        fetch("/api/compress" + filePath, { method: "POST" }).then((response) => {
            if (response.ok) {
                location.reload();
            } else {
                response.text().then((text) => notifyError(text));
                toggleLoading();
            }
        });
    }

    function extractFile(filePath) {
        toggleLoading();
        fetch("/api/extract" + filePath, { method: "POST" }).then((response) => {
            if (response.ok) {
                location.reload();
            } else {
                response.text().then((text) => notifyError(text));
                toggleLoading();
            }
        });
    }

    function downloadFile(filePath) {
        const a = document.createElement("a");
        a.href = "/api/download" + filePath;
        a.download = true;
        a.click();
        a.remove();
    }
</script>
{{end}}