{{define "body"}}
<h1>Manage User - {{.TargetUsername}}</h1>

<details>
    <summary>Change Password</summary>
    <br />
    <div class="column-container">
        <div>
            <form id="change-password-form">
                <input
                    type="text"
                    name="username"
                    value="{{.TargetUsername}}"
                    hidden
                >
                <label for="change-password-field-current-password">Current Password:</label>
                <br />
                <input
                    type="password"
                    id="change-password-field-current-password"
                    name="currentPassword"
                    required="required"
                >
                <br />
                <label for="change-password-field-new-password">New Password:</label>
                <br />
                <input
                    type="password"
                    id="change-password-field-new-password"
                    name="newPassword"
                    required="required"
                >
                <br />
                <label for="change-password-field-new-password-confirm">New Password Confirm:</label>
                <br />
                <input
                    type="password"
                    id="change-password-field-new-password-confirm"
                    name="newPasswordConfirm"
                    required="required"
                >
                <br />
                <br />
                <input
                    type="submit"
                    value="Change Password"
                >
            </form>
        </div>
        <div>
            <p>Reset password to 'password'</p>
            <button onclick="resetPassword()">
                <img
                    src="/static/symbols/reset.svg"
                    alt="Reset Icon"
                    width="16"
                    height="16"
                >
                Reset Password
            </button>
        </div>
    </div>
</details>
<br />
<details>
    <summary>Delete User</summary>
    <br />
    <button onclick="deleteUser()">
        <img
            src="/static/symbols/trash.svg"
            alt="Trash Icon"
            width="16"
            height="16"
        >
        Delete User
    </button>
</details>

<h3>SSH Keys</h3>
<button onclick="document.getElementById('add-ssh-key-dialog').showModal()">
    <img
        src="/static/symbols/file-new.svg"
        alt="File New Icon"
        width="16"
        height="16"
    >
    Add New SSH Key
</button>
<br />
<br />
{{$sshKeyCount := len .SshKeys}}
{{if gt $sshKeyCount 0}}
<table>
    <thead>
        <tr>
            <th>SSH Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $sshKey := .SshKeys}}
        <tr>
            <td>{{$sshKey}}</td>
            <td>
                <button onclick="deleteSshKeyLine('{{$index}}')">
                    <img
                        src="/static/symbols/trash.svg"
                        alt="Trash Icon"
                        width="16"
                        height="16"
                    >
                    Delete SSH Key
                </button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
<br />
<dialog id="add-ssh-key-dialog">
    <span
        class="close-button"
        onclick="document.getElementById('add-ssh-key-dialog').close()"
    >
        <img
            src="/static/symbols/close.svg"
            alt="Close Icon"
            width="16"
            height="16"
        >
    </span>
    <h3>Add New SSH Key</h3>
    <form id="add-ssh-key-form">
        <input
            type="text"
            name="username"
            value="{{.TargetUsername}}"
            required="required"
            hidden
        />
        <label for="add-ssh-key-field-ssh-key">SSH Key:</label>
        <input
            type="text"
            id="add-ssh-key-field-ssh-key"
            name="sshKey"
            maxlength="256"
            placeholder="Enter SSH Key"
            required="required"
            autocomplete="off"
        />
        <br />
        <br />
        <input
            type="submit"
            value="Add SSH Key"
        />
    </form>
</dialog>
<script>
    const currentUsername = "{{.Username}}";
    const targetUsername = "{{.TargetUsername}}";
</script>
<script src="/static/js/user.js"></script>
{{end}}