{{define "body"}}
<h1>Manage User - {{.TargetUsername}}</h1>

<details>
    <summary>Change Password</summary>
    <br />
    <div class="column-container">
        <div>
            <form id="change-password-form">
                <input
                    type="text"
                    name="username"
                    value="{{.TargetUsername}}"
                    hidden
                >
                <label for="currentPassword">Current Password:</label>
                <br />
                <input
                    type="password"
                    id="currentPassword"
                    name="currentPassword"
                    required="required"
                >
                <br />
                <label for="newPassword">New Password:</label>
                <br />
                <input
                    type="password"
                    id="newPassword"
                    name="newPassword"
                    required="required"
                >
                <br />
                <label for="newPasswordConfirm">New Password Confirm:</label>
                <br />
                <input
                    type="password"
                    id="newPasswordConfirm"
                    name="newPasswordConfirm"
                    required="required"
                >
                <br />
                <br />
                <input
                    type="submit"
                    value="Change Password"
                >
            </form>
        </div>
        <div>
            <p>Reset password to 'password'</p>
            <button onclick="resetPassword()">Reset Password</button>
        </div>
    </div>
</details>
<br />
<details>
    <summary>Delete User</summary>
    <br />
    <button onclick="deleteUser()">Delete User</button>
</details>

<h3>SSH Keys</h3>
<button onclick="document.getElementById('add-ssh-key-dialog').showModal()">
    Add New SSH Key
</button>
<br />
<br />
{{$sshKeyCount := len .SshKeys}}
{{if gt $sshKeyCount 0}}
<table>
    <thead>
        <tr>
            <th>SSH Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $sshKey := .SshKeys}}
        <tr>
            <td>{{$sshKey}}</td>
            <td>
                <button onclick="deleteSshKeyLine('{{$index}}')">
                    Delete SSH Key
                </button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
<br />
<dialog id="add-ssh-key-dialog">
    <div class="column-container">
        <div>
            <h3>Add New SSH Key</h3>
        </div>
        <div>
            <span
                class="close-button"
                onclick="document.getElementById('add-ssh-key-dialog').close()"
            >&#128938;</span>
        </div>
    </div>
    <form id="add-ssh-key-form">
        <input
            type="text"
            name="username"
            value="{{.TargetUsername}}"
            required="required"
            hidden
        />
        <label for="addSshKey">SSH Key:</label>
        <input
            type="text"
            id="addSshKey"
            name="sshKey"
            maxlength="256"
            placeholder="Enter SSH Key"
            required="required"
            autocomplete="off"
        />
        <br />
        <br />
        <input
            type="submit"
            value="Add SSH Key"
        />
    </form>
</dialog>
<script>
    const currentUsername = "{{.Username}}";
    const targetUsername = "{{.TargetUsername}}";
</script>
<script src="/static/js/user.js"></script>
{{end}}