{{define "body"}}
<h1>Manage User - {{.TargetUsername}}</h1>
<button onclick="resetPassword()">
    Reset Password
</button>
&nbsp;&nbsp;
<button onclick="deleteUser()">
    Delete User
</button>
<br />
<br />
<h3>SSH Keys</h3>
<button onclick="document.getElementById('add-ssh-key-dialog').showModal()">
    Add New SSH Key
</button>
<br />
<br />
<table>
    <thead>
        <tr>
            <th>SSH Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $sshKey := .SshKeys}}
        <tr>
            <td>{{$sshKey}}</td>
            <td>
                <button onclick="deleteSshKeyLine('{{$index}}')">
                    Delete SSH Key
                </button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<br />
<dialog id="add-ssh-key-dialog">
    <div style="display: grid; grid-auto-flow: column">
        <div>
            <h3>Add New SSH Key</h3>
        </div>
        <div>
            <span
                class="close-button"
                onclick="document.getElementById('add-ssh-key-dialog').close()"
            >&#128938;</span>
        </div>
    </div>
    <form id="add-ssh-key-form">
        <label for="addSshKey">SSH Key:</label>
        <input
            type="text"
            id="addSshKey"
            name="sshKey"
            maxlength="256"
            placeholder="Enter SSH Key"
            required="required"
            autocomplete="off"
        />
        <br />
        <br />
        <input
            type="submit"
            value="Add SSH Key"
        />
    </form>
</dialog>
<script>
    document.getElementById("add-ssh-key-form").addEventListener("submit", function (event) {
        event.preventDefault();
        customConfirm("Are you sure you want to add this SSH Key?").then(confirmed => {
            if (confirmed) {
                document.getElementById("add-ssh-key-dialog").close();
                toggleLoading();
                fetch("/api/user/{{.TargetUsername}}/ssh-key", { method: "POST", body: new FormData(this) }).then((response) => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    });

    function deleteSshKeyLine(index) {
        customConfirm("Are you sure you want to delete this SSH Key?").then(confirmed => {
            if (confirmed) {
                toggleLoading();
                fetch(`/api/user/{{.TargetUsername}}/ssh-key/${index}`, { method: "DELETE" }).then((response) => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }

    function resetPassword() {
        customConfirm(`Are you sure you want to reset this user's password?`).then(confirmed => {
            if (confirmed) {
                toggleLoading();
                fetch(`/api/user/{{.TargetUsername}}/password/reset`, { method: "POST" }).then((response) => {
                    if (response.ok) {
                        toggleLoading();
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }

    function deleteUser() {
        customConfirm(`Are you sure you want to delete this user?`).then(confirmed => {
            if (confirmed) {
                toggleLoading();
                fetch(`/api/user/{{.TargetUsername}}`, { method: "DELETE" }).then((response) => {
                    if (response.ok) {
                        location.href = "/admin";
                    } else {
                        response.text().then((text) => notifyError(text));
                        toggleLoading();
                    }
                });
            }
        });
    }
</script>
{{end}}