{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title>{{.PageTitle}}</title>
    <script src="/static/js/global.js"></script>
    <link
        rel="icon"
        type="image/x-icon"
        href="/static/images/favicon.png"
    />
    <link
        rel="stylesheet"
        href="/static/css/global.css"
    />
    <link
        rel="stylesheet"
        href="/static/css/colors.css"
    />
</head>

<body>
    <div id="top-bar">
        <div style="text-align: left;">
            {{if ne .Username ""}}
            <span
                class="clickable"
                onclick="window.location.href='/'"
            >{{.Username}}@ground</span>
            {{else}}
            <span>ground</span>
            {{end}}
        </div>
        <div style="text-align: right;">
            {{if ne .Username ""}}
            <span
                class="clickable"
                onclick="confirmLogout()"
            >logout</span>
            {{end}}
        </div>
    </div>
    <div id="bottom-view">
        <div id="content">{{template "body" .}}</div>
    </div>
    <dialog id="confirm-dialog">
        <p id="confirm-message"></p>
        <div style="display: grid; grid-auto-flow: column">
            <div style="text-align: center;">
                <button id="confirm-ok">OK</button>
            </div>
            <div style="text-align: center;">
                <button id="confirm-cancel">Cancel</button>
            </div>
        </div>
    </dialog>
</body>

</html>
{{end}}