{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title>{{.PageTitle}}</title>
    <script src="/static/js/global.js"></script>
    <link
        rel="icon"
        type="image/x-icon"
        href="/static/images/favicon.png"
    />
    <link
        rel="stylesheet"
        href="/static/css/global.css"
    />
    <link
        rel="stylesheet"
        href="/static/css/colors.css"
    />
</head>

<body>
    <div id="grid-container">
        <div id="top-bar">
            <div style="text-align: left;">
                <span>{{if ne .Username ""}}{{.Username}}@{{end}}ground</span>
            </div>
            <div style="text-align: right;">
                {{if ne .Username ""}}
                <span
                    class="clickable"
                    onclick="confirmLogout()"
                >logout</span>
                {{end}}
            </div>
        </div>
        <div id="nav-bar">
            <div><a href="/">Home</a></div>
            <div><a href="/files">Files</a></div>
            <div><a href="/trash">Trash</a></div>
            <div><a href="/user/{{.Username}}">Manage User</a></div>
            {{if .IsAdmin}}
            <div><a href="/admin">Admin</a></div>
            {{end}}
        </div>
        <div id="main-view">
            <div id="content-view">{{template "body" .}}</div>
        </div>
    </div>
    <dialog id="confirm-dialog">
        <p id="confirm-message"></p>
        <div class="column-container">
            <div style="text-align: center;">
                <button id="confirm-ok">OK</button>
            </div>
            <div style="text-align: center;">
                <button id="confirm-cancel">Cancel</button>
            </div>
        </div>
    </dialog>
</body>

</html>
{{end}}