{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title>{{.PageTitle}}</title>
    <script src="/static/js/global.js"></script>
    <link
        rel="icon"
        type="image/x-icon"
        href="/static/images/favicon.png"
    />
    <link
        rel="stylesheet"
        href="/static/css/global.css"
    />
    <link
        rel="stylesheet"
        href="/static/css/colors.css"
    />
</head>

<body>
    <div id="grid-container">
        <div id="top-bar">
            <div style="text-align: left;">
                <span>{{if ne .Username ""}}{{.Username}}@{{end}}ground</span>
            </div>
            <div style="text-align: right;">
                {{if ne .Username ""}}
                <span
                    class="clickable"
                    onclick="confirmLogout()"
                >
                    <img
                        src="/static/symbols/logout.svg"
                        alt="Logout Icon"
                        width="16"
                        height="16"
                    >
                    Logout
                </span>
                {{end}}
            </div>
        </div>
        <div id="nav-bar">
            {{if ne .Username ""}}
            <span
                class="clickable"
                onclick="window.location.href='/'"
            >
                <img
                    src="/static/symbols/nav-home.svg"
                    alt="Home Icon"
                    width="16"
                    height="16"
                >
                Home
            </span>
            <span
                class="clickable"
                onclick="window.location.href='/files'"
            >
                <img
                    src="/static/symbols/nav-files.svg"
                    alt="Files Icon"
                    width="16"
                    height="16"
                >
                Files
            </span>
            <span
                class="clickable"
                onclick="window.location.href='/trash'"
            >
                <img
                    src="/static/symbols/nav-trash.svg"
                    alt="Trash Icon"
                    width="16"
                    height="16"
                >
                Trash
            </span>
            <span
                class="clickable"
                onclick="window.location.href='/user/{{.Username}}'"
            >
                <img
                    src="/static/symbols/nav-manage.svg"
                    alt="Manage Icon"
                    width="16"
                    height="16"
                >
                Manage
            </span>
            {{if .IsAdmin}}
            <span
                class="clickable"
                onclick="window.location.href='/admin'"
            >
                <img
                    src="/static/symbols/nav-admin.svg"
                    alt="Admin Icon"
                    width="16"
                    height="16"
                >
                Admin
            </span>
            {{end}}
            {{end}}
        </div>
        <div id="main-view">
            <div id="content-view">{{template "body" .}}</div>
        </div>
    </div>
    <dialog id="confirm-dialog">
        <p id="confirm-message"></p>
        <div class="column-container">
            <div style="text-align: center;">
                <button id="confirm-ok">OK</button>
            </div>
            <div style="text-align: center;">
                <button id="confirm-cancel">Cancel</button>
            </div>
        </div>
    </dialog>
</body>

</html>
{{end}}