:root {
    --top-bar-height: 20px;
    --padding-large: 12px;
    --padding-small: 6px;
    --bottom-view-margin: 20px;
    --loading-wheel-diameter: 100px;
    --loading-wheel-thickness: 15px;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: monospace;
}

dialog {
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
    border-radius: 4px;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.8;
}

details {
    border: 2px solid;
    padding: var(--padding-large);
    border-radius: var(--padding-small);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    max-width: 80vw;
    overflow-wrap: break-word;
    text-align: left;
    padding: var(--padding-small)
}

summary {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#top-bar {
    height: var(--top-bar-height);
    padding: var(--padding-large);
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

#bottom-view {
    margin: var(--bottom-view-margin);
    height: calc(100% - (2 * var(--bottom-view-margin)) - (2 * var(--padding-large)) - var(--top-bar-height));
}

#content {
    max-width: 1920px;
    margin: auto;
    height: 100%;
}

#overlay {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

#loading-wheel {
    position: fixed;
    z-index: 998;
    top: calc(50% - (var(--loading-wheel-diameter)/2) - var(--loading-wheel-thickness));
    left: calc(50% - (var(--loading-wheel-diameter)/2) - var(--loading-wheel-thickness));
    width: var(--loading-wheel-diameter);
    height: var(--loading-wheel-diameter);
    border: var(--loading-wheel-thickness) solid;
    border-top: var(--loading-wheel-thickness) solid;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#notification-info {
    top: calc(var(--top-bar-height) + (2 * var(--padding-large)) + 10px);
}

#notification-error {
    bottom: 30px;
}

#confirm-message {
    overflow-wrap: break-word;
}

.notification {
    position: fixed;
    z-index: 999;
    left: 30px;
    padding: var(--padding-large);
    width: calc(100vw - 90px);
    max-height: 60px;
    overflow-y: scroll;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.muted {
    opacity: 0.5;
}

.column-container {
    display: grid;
    grid-auto-flow: column
}

.column-container>div {
    overflow-wrap: break-word;
}

.close-button {
    cursor: pointer;
    float: right;
}

.single-icon-cell {
    text-align: center;
    width: 2em;
}

.right-align-cell {
    text-align: right;
    white-space: nowrap;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}