{{define "body"}}

{{$dirLen := len .DirectoryRows}}
{{if gt $dirLen 0}}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Directories</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .DirectoryRows}}
        <tr class="clickable" onclick="location.assign('{{.ApiPath}}')">
            <td>&#128193;</td>
            <td>{{.Name}}</td>
            <td>{{.SymLinkPath}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{$fileLen := len .FileRows}}
{{if gt $fileLen 0}}
<table>
    <thead>
        <tr>
            <th>Files</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .FileRows}}
        <tr>
            <td>
                <a href="{{.ApiPath}}" target="_blank" rel="noopener noreferrer">{{.Name}}</a>
            </td>
            <td>{{.SymLinkPath}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{end}}
