{{define "body"}}
<style>
    .action-group-container {
        position: relative;
        cursor: context-menu;
        text-align: center;
        width: 2em;
    }

    .action-group {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .action-group-container:hover .action-group {
        display: block;
    }

    .action-group div {
        cursor: pointer;
        padding: 10px;
    }
</style>
<div>
    {{range .FilePathBreadcrumbs}}
    {{if not .IsHome}}
    <span>/</span>
    {{end}}
    <span><a href="/files{{.Path}}">{{.Name}}</a></span>
    {{end}}
</div>
<table>
    <tbody>
        {{range .DirectoryEntries}}
        <tr>
            {{if .IsDir}}
            <td>&#128193;</td>
            <td><a href="/files{{.Path}}">{{.Name}}</a></td>
            {{else}}
            <td></td>
            <td><a href="/file{{.Path}}">{{.Name}}</a></td>
            {{end}}
            <td>{{.SymLinkPath}}</td>
            <td style="text-align: right;">{{.HumanSize}}</td>
            <td class="action-group-container">
                <span>&#8942;</span>
                <div class="action-group">
                    {{if .IsDir}}
                    <div onclick="compressDirectory('{{.Path}}')">Compress</div>
                    {{else}}
                    <div onclick="downloadFile('{{.Path}}')">Download</div>
                    {{end}}
                </div>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<script>
    function compressDirectory(filePath) {
        toggleLoading();
        fetch("/api/compress" + filePath, { method: "POST" }).then((response) => {
            if (response.status >= 200 && response.status < 300) {
                location.reload();
            } else {
                response.text().then((text) => displayNotification(text));
                toggleLoading();
            }
        });
    }

    function downloadFile(filePath) {
        const a = document.createElement("a");
        a.href = "/api/download" + filePath;
        a.download = true;
        a.click();
        a.remove();
    }
</script>
{{end}}