{{define "body"}}
<h2>Login</h2>
<form id="login-form">
    <label for="username">Username:</label>
    <br />
    <input type="text" id="username" name="username">
    <br />
    <label for="password">Password:</label>
    <br />
    <input type="password" id="password" name="password">
    <br />
    <br />
    <input type="submit" value="Login">
</form>
<script>
    document.getElementById("login-form").addEventListener("submit", (event) => {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        callPostAPI("/api/login", JSON.stringify({ username, password }))
            .then(data => console.log(data))
    });
</script>
{{end}}