:root {
    --top-bar-height: 20px;
    --padding-large: 12px;
    --padding-small: 6px;
    --bottom-view-margin: 20px;
    --loading-wheel-diameter: 100px;
    --loading-wheel-thickness: 15px;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
}

th,
td {
    padding: var(--padding-small)
}

#top-bar {
    height: var(--top-bar-height);
    padding: var(--padding-large);
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

#bottom-view {
    margin: var(--bottom-view-margin);
    height: calc(100% - (2 * var(--bottom-view-margin)) - (2 * var(--padding-large)) - var(--top-bar-height));
}

#content {
    max-width: 1920px;
    margin: auto;
    height: 100%;
}

#overlay {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

#loading-wheel {
    position: fixed;
    z-index: 998;
    top: calc(50% - (var(--loading-wheel-diameter)/2) - var(--loading-wheel-thickness));
    left: calc(50% - (var(--loading-wheel-diameter)/2) - var(--loading-wheel-thickness));
    width: var(--loading-wheel-diameter);
    height: var(--loading-wheel-diameter);
    border: var(--loading-wheel-thickness) solid;
    border-top: var(--loading-wheel-thickness) solid;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#notification {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    left: 30px;
    padding: var(--padding-large);
    width: calc(100vw - 90px);
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.muted {
    opacity: 0.5;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}