:root {
    --top-bar-height: 20px;
    --top-bar-padding: 15px;
    --bottom-view-margin: 20px;
    --loading-wheel-diameter: 100px;
    --loading-wheel-thickness: 15px;
}

html,
body {
    margin: 0;
    height: 100%;
}

#top-bar {
    height: var(--top-bar-height);
    padding: var(--top-bar-padding);
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

#bottom-view {
    margin: var(--bottom-view-margin);
    height: calc(100% - (2 * var(--bottom-view-margin)) - (2 * var(--top-bar-padding)) - var(--top-bar-height));
}

#content {
    max-width: 1920px;
    margin: auto;
    height: 100%;
}

#overlay {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

#loading-wheel {
    position: fixed;
    z-index: 998;
    top: calc(50% - (var(--loading-wheel-diameter)/2) - var(--loading-wheel-thickness));
    left: calc(50% - (var(--loading-wheel-diameter)/2) - var(--loading-wheel-thickness));
    width: var(--loading-wheel-diameter);
    height: var(--loading-wheel-diameter);
    border: var(--loading-wheel-thickness) solid #f3f3f3;
    border-top: var(--loading-wheel-thickness) solid #3498db;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#notification {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    left: 30px;
    padding: 15px;
    width: calc(100vw - 90px);
    text-align: center;
    background-color: #b0b0b0;
}

.clickable {
    cursor: pointer;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}