:root {
    --top-bar-height: 20px;
    --top-bar-padding: 15px;
    --bottom-view-margin: 20px;
}

html,
body {
    margin: 0;
    height: 100%;
}

#top-bar {
    height: var(--top-bar-height);
    padding: var(--top-bar-padding);
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

#bottom-view {
    margin: var(--bottom-view-margin);
    height: calc(100% - (2 * var(--bottom-view-margin)) - (2 * var(--top-bar-padding)) - var(--top-bar-height));
}

#content {
    max-width: 1920px;
    margin: auto;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.error {
    color: red;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}